.daily{
  width:100%;
}
.cityName{
  font-size: 60px;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 50px auto 20px;
  text-align: center;
  color: rgb(83, 83, 83);
}
.fab{
  float: right;
}
.plus{
font-size:30px;
}
@media screen and (max-width: 360px) {
  .cityName {
    position: relative;
   font-size: 40px;
   top: 20px;
  }
}
